@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/headers.css";
@import "./global/footer.css";

/* utilidades */
@import "./utilidades/componentes.css";


/* Home page */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";


/* termos */
@import "./termos/termos.css";