.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden;
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url("../../img/dec/bottom-right-p.svg") no-repeat bottom 40px right 40px;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento p::after,
.depoimento p::before {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;

}

.depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}

.depoimento p::after {
  content: "”";
}

@media (min-width: 1200px) {
  .depoimento img {
    max-width: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
   
  .depoimento-conteudo {
    padding: 40px 20px 20px 20px;
    justify-self: center;
  }
}

